In [27]:
import pandas as pd
from splinter import Browser
from splinter.exceptions import ElementDoesNotExist
from bs4 import BeautifulSoup

In [50]:
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [29]:
url = 'https://mars.nasa.gov/news/?page=0&per_page=40&order=publish_date+desc%2Ccreated_at+desc&search=&category=19%2C165%2C184%2C204&blank_scope=Latest'
browser.visit(url)

In [30]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

result = soup.find('li', class_='slide') 
title = result.find('h3').text
body = result.find('div', class_= 'rollover_description_inner').text
print(title)
print(body)

Things Are Stacking up for NASA's Mars 2020 Spacecraft
As the July 2020 launch date inches closer, the next spacecraft headed to the Red Planet is assembled for more testing.

In [31]:
news_title = title
news_p = body

In [32]:
img_url = "https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"
browser.visit(img_url)

In [33]:
img_html = browser.html
img_soup = BeautifulSoup(img_html, 'html.parser')

In [34]:
footer = img_soup.find('footer')
featured_image_url = img_url + footer.a['data-fancybox-href']
print(featured_image_url)

https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars/spaceimages/images/mediumsize/PIA18847_ip.jpg

In [35]:
twit_url = "https://twitter.com/marswxreport?lang=en"
browser.visit(twit_url)

In [36]:
twit_html = browser.html
twit_soup = BeautifulSoup(twit_html, 'html.parser')

In [37]:
container = twit_soup.find('div', class_='js-tweet-text-container')
weather = container.find('p').text
print(weather)

InSight sol 140 (2019-04-19) low -98.6ºC (-145.5ºF) high -18.0ºC (-0.4ºF)
winds from the W at 4.0 m/s (8.9 mph) gusting to 14.2 m/s (31.8 mph)
pressure at 7.40 hPapic.twitter.com/4YBCvCijXM

In [38]:
mars_weather = weather

In [39]:
mars_url = 'https://space-facts.com/mars/'

In [41]:
tables = pd.read_html(mars_url)
tables

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.52 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                  -153 to 20 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [44]:
mars_df = tables[0]
mars_df.columns = ['Profile', 'Value']
mars_df.head()

                Profile                          Value
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.52 AU)

In [45]:
mars_df.set_index('Profile', inplace=True)
mars_df.head()

                                              Value
Profile
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.42 x 10^23 kg (10.7% Earth)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.52 AU)

In [47]:
mars_html_table = mars_df.to_html()
mars_html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Value</th>\n    </tr>\n    <tr>\n      <th>Profile</th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Equatorial Diameter:</th>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>Polar Diameter:</th>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.42 x 10^23 kg (10.7% Earth)</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>Orbit Distance:</th>\n      <td>227,943,824 km (1.52 AU)</td>\n    </tr>\n    <tr>\n      <th>Orbit Period:</th>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>Surface Temperature:</th>\n      <td>-153 to 20 °C</td>\n    </tr>\n    <tr>\n      <th>First Record:</th>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>Recorded By:</th>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [48]:
mars_html_table.replace('\n', '')

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>Value</th>    </tr>    <tr>      <th>Profile</th>      <th></th>    </tr>  </thead>  <tbody>    <tr>      <th>Equatorial Diameter:</th>      <td>6,792 km</td>    </tr>    <tr>      <th>Polar Diameter:</th>      <td>6,752 km</td>    </tr>    <tr>      <th>Mass:</th>      <td>6.42 x 10^23 kg (10.7% Earth)</td>    </tr>    <tr>      <th>Moons:</th>      <td>2 (Phobos &amp; Deimos)</td>    </tr>    <tr>      <th>Orbit Distance:</th>      <td>227,943,824 km (1.52 AU)</td>    </tr>    <tr>      <th>Orbit Period:</th>      <td>687 days (1.9 years)</td>    </tr>    <tr>      <th>Surface Temperature:</th>      <td>-153 to 20 °C</td>    </tr>    <tr>      <th>First Record:</th>      <td>2nd millennium BC</td>    </tr>    <tr>      <th>Recorded By:</th>      <td>Egyptian astronomers</td>    </tr>  </tbody></table>'

In [71]:
hem_url = "https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars"
browser.visit(hem_url)

In [72]:
hem_html = browser.html
hem_soup = BeautifulSoup(hem_html, 'html.parser')

In [75]:
hem_title_result = hem_soup.find_all('div', class_='description')

for hem_title in hem_title_result:
    title = hem_title.find('h3').text

    print(title)

Cerberus Hemisphere Enhanced
Schiaparelli Hemisphere Enhanced
Syrtis Major Hemisphere Enhanced
Valles Marineris Hemisphere Enhanced

In [60]:
hem_image1 = 'https://astrogeology.usgs.gov/search/map/Mars/Viking/cerberus_enhanced'
browser.visit(hem_image1)
hem1 = browser.html
hem1_soup = BeautifulSoup(hem1, 'html.parser')

In [64]:
img_results_1 = hem1_soup.find_all('img', class_="wide-image")

for img_url_1 in img_results_1:
   img1 = img_url_1['src']

img1 = "https://astrogeology.usgs.gov" + img1

print(img1)

https://astrogeology.usgs.gov/cache/images/cfa62af2557222a02478f1fcd781d445_cerberus_enhanced.tif_full.jpg

In [65]:
hem_image2 = 'https://astrogeology.usgs.gov/search/map/Mars/Viking/schiaparelli_enhanced'
browser.visit(hem_image2)
hem2 = browser.html
hem2_soup = BeautifulSoup(hem2, 'html.parser')

In [66]:
img_results_2 = hem2_soup.find_all('img', class_="wide-image")

for img_url_2 in img_results_2:
   img2 = img_url_2['src']

img2 = "https://astrogeology.usgs.gov" + img2

print(img2)

https://astrogeology.usgs.gov/cache/images/3cdd1cbf5e0813bba925c9030d13b62e_schiaparelli_enhanced.tif_full.jpg

In [67]:
hem_image3 = 'https://astrogeology.usgs.gov/search/map/Mars/Viking/syrtis_major_enhanced'
browser.visit(hem_image3)
hem3 = browser.html
hem3_soup = BeautifulSoup(hem3, 'html.parser')

In [68]:
img_results_3 = hem3_soup.find_all('img', class_="wide-image")

for img_url_3 in img_results_3:
   img3 = img_url_3['src']

img3 = "https://astrogeology.usgs.gov" + img3

print(img3)

https://astrogeology.usgs.gov/cache/images/ae209b4e408bb6c3e67b6af38168cf28_syrtis_major_enhanced.tif_full.jpg

In [69]:
hem_image4 = 'https://astrogeology.usgs.gov/search/map/Mars/Viking/valles_marineris_enhanced'
browser.visit(hem_image4)
hem4 = browser.html
hem4_soup = BeautifulSoup(hem4, 'html.parser')

In [70]:
img_results_4 = hem4_soup.find_all('img', class_="wide-image")

for img_url_4 in img_results_4:
   img4 = img_url_4['src']

img4 = "https://astrogeology.usgs.gov" + img4

print(img4)

https://astrogeology.usgs.gov/cache/images/7cf2da4bf549ed01c17f206327be4db7_valles_marineris_enhanced.tif_full.jpg

In [78]:
hemisphere_image_urls = [
    {"title": title, "img_url": img1},
    {"title": title, "img_url": img2},
    {"title": title, "img_url": img3},
    {"title": title, "img_url": img4},
]